/*navigate bar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background: rgb(255, 255, 255);
    top: 10px;
    text-indent: 0;
    text-align: center;
    width: 100%;
    font-size: 15px;
}

#container ul {
    list-style: none;
}

#container ul li {
    position: relative;
    display: inline-block;
    background: rgb(255, 255, 255);

}

#container ul li a {
    display: block;
    color: black;
    font-weight:500;
    text-decoration: none;
    padding: 0.3em 6px;
}

#container li a:hover {
    color: white;
    background: green;
}

#container li ul {
    position: absolute;
    display: none;
    width: 10em;
}

#container li:hover ul {
    display: block;
}

#container ul li ul li {
    width: 100%;
    border: 1px solid green;
    background-color: white;
}

/*forgpt password*/

/* Body page*/


.bold{
    font-weight: bolder;
    color:#000400;
    margin-left: 55px;
    margin-bottom: 40px;
    margin-top: 10px;
}
.content {
  display: flex;
}
.error-message{
    color: #FF0F0F;
    font-weight: 400;
    /* font-size: 14px; */
    /* line-height: 16px; */
    white-space: nowrap;
    display: flex;
    /* float: left; */
    float: right;
    margin-top: 10px;
}

.content{
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F9F3;
    margin: auto;
    margin-top: 80px; 
    margin-bottom: 50px; 
    border-radius: 10px;
}
/* Bordered login form */
.login_form {
    /* border-bottom: 3px solid #d9d9d9; */
    width: 522px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 50px 5px;
    box-shadow: 0 0 10px rgba(140, 140, 140, 0.3);
    border-radius: 15px;
}
h2{
    width: 300px;
    height: 130px;
    margin-top: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #2D982A;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    
}
.container__input{
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 0px;
    gap: 25px;
    margin-bottom: 20px;

}
.input--content{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    /*background-color: #e80e0e;*/
    margin-top:-20px;
    border-radius: 10px;
    
}
.input--content input{
  width: 100%;
  height:100%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #D9D9D9;
}
.container__input--item {
    display: flex;
    align-items: center;
    
  }
  
  .container__input--item label {
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
    background-color: #FF0F0F;
}

.container__input--item .material{
    width: 7px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items:flex-start;
    float: right;
    color: #FF0F0F;
}


.login_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 47px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background: #2D982A;
    border: 0PX;
    border-radius: 10px;
    color: white !important;
    margin-bottom: 20px;
}
.content--bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content--bottom p{
    margin-bottom: 10px;
}
.content--bottom a{
    color: #2D982A;
    font-weight: bold;
    margin-bottom: 30px;
}
