<div class="imgbg"><img src="assets/images/BG.png"></div>

<div class="content">
  <div class="imggt"><a href="app-home"><img src="assets/images/GT.png"></a></div>
  <form action="app-home" method="get" class="login_form" (submit)="onSubmit()">
    <h2 class="header">ĐẶT LẠI MẬT KHẨU</h2>

    <div class="container">
      <div class="container__input">
        <div class="container__input--item pass">
          <label for="psw">Mật khẩu</label><span class="material">*</span>
          <div class="input--content">
            <input type="password" name="psw" id="psw" [(ngModel)]="password" (blur)="onChecked()" #passwordInput />
          </div>
        </div>

        <div class="container__input--item repass">
          <label for="enterpsw">Nhập lại mật khẩu</label> <span class="material">*</span>
          <div class="input--content">
            <input type="password" id="enterpsw" [(ngModel)]="confirmPassword" name="confirmPassword"
              #confirmPasswordInput (blur)="checkPasswordsMatch()" required />
          </div>
        </div>
      </div>

      <div>
        <button type="submit" class="login_button" onclick="window.location='app-login'">HOÀN TẤT</button>
      </div>
    </div>

    <div class="content--bottom">
      <p>Đã có tài khoản?</p>
      <a href="app-login">Đăng nhập ngay</a>
    </div>
  </form>
</div>