* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgbg img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.login_form {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D7F6D5;
  padding: 50px 5px;
  box-shadow: 0 0 10px rgba(167, 165, 165, 0.3);
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
}

h2 {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #2D982A;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__input {
  display: flex;
  width: 92%;
  flex-direction: column;
  padding: 0px;
  gap: 18px;
  margin-top: 10px;
  margin-left: 50px;

}

.input--content {
  float: right;
  display: flex;
  flex-direction: row;
}

.input--content input {
  width: 253px;
  height: 25px;
  border: 0px;
  background-color: #ffffff;
  margin-right: 40px;
  border-radius: 5px;
}

.container__input--item .material {
  width: 7px;
  height: 7px;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  align-items: flex-start;
  color: #fe0505;
}

.login_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  background: #2D982A;
  border: 0PX;
  border-radius: 10px;
  color: white !important;
  margin-top: 40px;
}

.content--bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content--bottom p {
  margin-top: 20px;
}

.content--bottom a {
  color: #2D982A;
  font-weight: bold;
  margin-bottom: 25px;
}