<div align="center" style="text-align: center; background-color: #2D982A; 
color: white; font-size: 12px; display: flex; flex-direction: column; 
justify-content: center; line-height:9px; padding:2px; padding-top: -10px;
    padding-bottom: 10px;">
  <br/>
  <b>CHÀO MỪNG BẠN ĐẾN VỚI BEAURITY</b>
</div>
<app-navigate-bar></app-navigate-bar>
<hr style="border: none; border-top: 25px solid #2D982A; margin: 0;">

      <div>
        <form action="app-home" method="get" class="login_form" (submit)="onSubmit()">
          <h2 class="header">ĐẶT LẠI MẬT KHẨU</h2>
          
          <div class="container">
            <div class="container__input">
                  <div class="container__input--item pass">
                    <label for="psw">Mật khẩu</label><span class="material">*</span>
                    <div class="input--content">
                        <input type="password" name="psw" id="psw" [(ngModel)]="password" (blur)="onChecked()" #passwordInput />
                    </div>
                  </div>

                    <div class="container__input--item repass">
                        <label for="enterpsw">Nhập lại mật khẩu</label> <span class="material">*</span>
                        <div class="input--content">
                            <input type="password" id="enterpsw" [(ngModel)]="confirmPassword" name="confirmPassword" #confirmPasswordInput (blur)="checkPasswordsMatch()"
                            required />
                        </div>    
                    </div>      
                  </div>

            <div>
              <button type="submit" class="login_button" onclick="window.location='app-login'">HOÀN TẤT</button>
            </div>
          </div>

          <div class="content--bottom">
            <p>Đã có tài khoản?</p>
            <a href="app-login">Đăng nhập ngay</a>
          </div>
        </form>
      </div>



