* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, ‘Open Sans’, ‘Helvetica Neue’, sans-serif;
}

.container {
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28px;
  color: #2D982A;
  font-weight: bold;
}

.content {
  padding: 0px 20px 10px 20px;
  background: #E0F8E4;
  border-radius: 10px;
  width: 60%;
}

.content__order p {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px;
  text-align: center;
} 

.content__order p span {
  font-size: 15px;
  width: max-content;
  margin-top: 0px;
  margin-left: 15px;
  padding: 5px 5px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #52b54f;
}

.content__order--infor {
  padding: 5px;
}

.content__order--infor p {
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 0px;
  padding: 5px;
  font-size: 20px;
  text-align: left;
}

.order__form--row {
  padding: 5px;
}

.form__row label:nth-child(1) {
  font-weight: 500;
}

.form__row {
  display: flex;
  margin: 15px 0px 5px 0px;
  align-items: center;
}

.form__label {
  margin: 5px 5px;
  min-width: 250px;
}

.order_table{
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-spacing: 0px;
}
.table_title{
  width: 90%;
  height: 35px;
  border-radius: 20px;
  padding: 10px;
}
.table_data td{
  border-bottom: 1px solid #ddd;
  border-top : 1px solid #ddd;
}
.image img{
  width: 100px;
  height: auto;
}
td.text-end{
  padding: 5px 15px;
}
td.total{
  font-weight: bold;
  padding: 20px;
  padding-bottom: 3px;
  font-size: 15pt;
  border-bottom: 0px !important;
}

.button_continue button {
  padding: 4px 40px;
  background-color: #2D982A;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin: 20px;
}

.button_continue button:hover{
  cursor: pointer;
  transform: scale(1.05);
}