<div class="container">
    <h2 class="title">THÔNG TIN CHI TIẾT ĐƠN HÀNG</h2>
    <div class="content">
      <div class="content__order">
        <h2>
          ĐƠN HÀNG ID <span class="completed"> STATUS HERE </span>
        </h2>
        <div class="content__order--infor">
          <p>Thông tin nhận hàng và thanh toán</p>
          <div class="order__form--row">
            <div class="form__row">
              <label class="form__label" for="orderID">Mã đơn hàng:</label>
              <label class="form__content" for="orderID">
                ORDER ID HERE
              </label>
            </div>
            <div class="form__row">
              <label class="form__label" for="name_order"
                >Họ và tên người nhận:</label
              >
              <label class="form__content" for="name_order"> ORDER CUSTOMER NAME HERE </label>
            </div>
            <div class="form__row">
              <label class="form__label" for="phone_order"
                >Số điện thoại người nhận:</label
              >
              <label class="form__content" for="phone_order">
                ORDER PHONE HERE
              </label>
            </div>
            <div class="form__row">
              <label class="form__label" for="address_receive">Email:</label>
              <label class="form__content" for="address_receive">
                ORDER EMAIL HERE
              </label>
            </div>
            <div class="form__row">
              <label class="form__label" for="address_receive"
                >Địa chỉ nhận hàng:</label
              >
              <label class="form__content" for="address_receive">
                ORDER ADDRESS HERE
              </label>
            </div>
            <div class="form__row">
              <label class="form__label" for="payment_method"
                >Phương thức thanh toán:</label
              >
              <label class="form__content" for="payment_method">
                ORDER PAYMENT METHOD HERE
              </label>
            </div>
            <div class="form__row">
              <label class="form__label" for="time_receive"
                >Thời gian dự kiến:</label
              >
              <label class="form__content" for="time_receive">ORDER SHIPDATE HERE</label>
            </div>
          </div>
        </div>
      </div>
      <div class="content__item">
        <ul class="content__item--title">
          <li>Thông tin đơn hàng</li>
          <li>Đơn giá</li>
          <li>Số lượng</li>
        </ul>
        <div class="cart__main">
          <div class="cart__main-row"> ITEM TRONG ĐƠN HÀNG HERE
            <div class="cart__main-row--product">
              <div class="cart__main-row--product-img">
                <img src="#image" alt="" />
              </div>
              <p class="cart__main-row--product-info">
                ITEM NAME HERE
              </p>
            </div>
            <p class="cart__main-row--price">ITEM PRICE HERE</p>
            <p class="cart__main-row--quantity">ITEM QUANTITY HERE</p>
          </div>
        </div>
      </div>
      <div class="content__price">
        <div class="content__price--row">
          <label class="voucher__label" for="voucher">Mã giảm giá:</label>
          <label class="form__content" for="voucher"
            >VOUCHER HERE đ</label
          >
        </div>
        <div class="content__price--row">
          <label class="deliveryfee__label" for="voucher">Phí vận chuyển:</label>
          <label class="form__content" for="voucher"
            >SHIPPING FEE HERE đ</label
          >
        </div>
        <div class="content__price--row">
          <label class="total__label" for="voucher">Tổng tiền:</label>
          <label class="form__content" for="voucher"
            >TOTAL PRICE HERE đ</label
          >
        </div>
      </div>
    </div>
    <!--
    <div class="button_continue">
      <button id="gotohome">Tiếp tục mua sắm</button>
    </div>
    -->
  </div>