* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content--top {
    display: flex;
}

.content--top a {
    color: #2D982A;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-right: 390px;
}

.imgbg img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bold {
    color: #000000;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: -100px;
    font-weight: bolder;
}

.error-message {
    color: #FF0F0F;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    display: flex;
    margin-right: 30px;
    display: inline-block;
    margin-top: 5px;
}

.signup_form {
    width: 530px;
    height: 400px;
    background-color: #D7F6D5;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2 {
    width: 300px;
    height: 130px;
    margin-top: -15px;
    margin-bottom: 1px;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #2D982A;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.container__input {
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 0px;
    gap: 25px;
    margin-bottom: 20px;
}

.input--content {
    position: relative;
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
    background-color: #ffffff;
    padding: 0px 5px 0px 5px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

}

.input--content input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent
}

.login_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background: #2D982A;
    border: 0PX;
    border-radius: 10px;
    color: white !important;
    margin-bottom: 30px;
}

.content--bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content--bottom p {
    margin-bottom: 10px;
}

.content--bottom a {
    color: #2D982A;
    font-weight: bold;
    margin-bottom: 30px;
}