*{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer{
    color:green;
    bottom: 0;
    width: 100%;
}
.footer__logo{
    background-color: #C2F4C0;
    color: green;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-size: 16px;
}
.footer__logo img {
    width: 35px;
    align-items:center;
}


.footer__logo a {
    display: flex;
    color: inherit;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.footer__logo a:hover {
    color: inherit;
    text-decoration: none;
}

.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 700;
    font-size: 35px;
    color: #2D982A;
}
.footer__content{
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: 0.5fr 3.4fr 0.1fr 1.5fr 0.1fr 1.5fr 0.1fr 2fr 0.3fr;
}
.footer__content--tem{
    display: block;
}
.footer__content--infor{
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    width: 166px;
    height: 54.41px;
    margin-bottom: 10px;
}
.bold{
    font-weight: bold;
    font-size: 18px;

}
.contact p{
    font-size: 15px;
    font-weight: normal;
}
.contact{
    margin-bottom: 10px;
}
.logo_check{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    float: left;
}
.logo_check img:first-child{
    width: 90.37px;
    height: 41px;
}
.logo_check img:nth-last-child(1){
    width: 113px;
    height: 45.28px;
}
.logo_check img:nth-last-child(2){
    width: 112px;
height: 40.43px;
}
.list-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    cursor: pointer;
}
.footer__content--title{
    font-size: 20px;
    width: 245.51px;
    height: 31.5px;
    margin-bottom: 5px;
    
}
.list-link a{
    color: grey;
    text-decoration: none;
    font-size: 14px;
    width: 248.37px;
    height: 28.09px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.footer__content--nav{
    display: flex;
    flex-direction: row ;

}
.footer__content--logo{
    float: right;
}
.footer__content--logo h3{
    color: #2D982A;
    font-size: 16px;
    margin-bottom: 14px;
}
.footer__content--logo>div{
    align-items: center;
    justify-content: space-between;
}
.hotline{
    margin-bottom: 25px;
}
.hotline-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-bottom: 18px;
}
.hotline img{
    width: auto;
    height: 24px;
}
.logo-payment{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}
#logo-napas{
    width: 75px;
    height: 46.5px;

}
#logo-momo{
    width: 46.5px;
    height: 46.5px;
}

.footer__copyright {
    background-color: #2D982A;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 56.44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxchat{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 40px;
    right: 50px;
}

/* Áp dụng cho màn hình có chiều rộng nhỏ hơn hoặc bằng 768px */
@media (max-width: 800px) {
    .footer__content {
      grid-template-columns: 3fr 3fr 3fr;
    }  
    .logo_check,
    .list-link {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }  
    .logo_check img:first-child,
    .logo_check img:nth-last-child(1),
    .logo_check img:nth-last-child(2) {
      width: 100px;
      height: auto;
    }
 
    .footer__content--title,
    .list-link a {
      width: auto;
      height: auto;
    }
  }