*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home_banner{
    background-color:#F8FAE1; 
    text-align: left;
    vertical-align: top;
    color: green;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.2fr 6.5fr 3fr;
    font: 1000 38px/50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo{
    width: 140px;
    object-fit: contain;
    align-items: center;
    border-radius: 10px;
  }

.bar{
    padding-top: 20px;
    height: 60px;
    width: 8px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bold{
    font-weight: bold;
    font-size: 30px;
}

.image-container {
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }

.main-home{
    margin-top: 160px;
}

.home_products {
    margin-bottom: 20px;
}
.home_products-bestseller {
    background-color: #E0F8E4;
    padding-top: 8px;
}
.home_products--header {
    font-size: 24px;
    margin: 12px 50px;
    padding: 12px;
    font-weight: bold;
}
.home_products--product {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 90px;
}
.home_products--product-detail {
    width: 17%;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    margin: 12px;
}
.home_products--product-detail:nth-child(n+11) {
  display: none;
}
.home_products--product-detail:hover {
    border: 1px solid #2D982A;
}

.home_products--products img{
    width: 100%;
    height: auto;
    padding: 12px;

}
.home_products--product-detail-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.home_products--product-detail-price {
    font-weight: bold;
}
.home_products--product-detail-button {
    width: 100%;
    text-align: center;
}
.home_products--product-detail-button input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    font-size: 14px;

}
.home_products--product-detail-button input:hover {
    background-color: #2D982A;
    color: #fff;
}

.home_products-new {
    background-color: #ffffff;
    padding-top: 8px;
}
.background-space{
    height: fit-content;
}
.background-space img{
    height: 198px;
    width: 100%;
    padding: 21px 100px;
}


.products-category{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin: 5px auto 0;
}

.products-category--detail{
    padding: 10px;
    text-decoration: none;
    color: #000;
    margin: 0 8px;
    text-align: center;

}

.products-category--detail:hover{
    border-bottom: 2px solid #2D982A;
    color: #2D982A;
}

.products-view-all {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 8%;
    margin: 20px auto 0;
    padding: 5px;
    text-decoration: none;
    color: #2D982A;
    border: 1px solid #2D982A;
    border-radius: 8px;

}
.products-view-all:hover {
  background-color: #2D982A;
  font-weight: bold;
  color: #fff;
}

.easy__buy{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    width: 80%;
}
.easy__buy div:first-child{
    flex: 1;
    border-right: 1px solid #2D982A;
}
.easy__buy div:last-child{
    flex: 1;
    border-left: 1px solid #2D982A;
}

.easy__buy-main {
    background-color: #CEEFCD;
    margin: 20px;
    padding: 10px 0;
}
.easy__buy-header {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;

}

.images-background-big img{
    height: 300px;
    width: 100%;
    background-color: #197b14;
}

.images-background-small{
    margin: 0px auto;
    position: relative;
    top: -50px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
}
.container-banner{
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    padding-left: 100px;
    align-items: self-end;
}
.slider-main{
    height: 227px;
    width: 626px;
    display: flex;
    margin-bottom: 19px;
}
.slide-fade{
    display: flex;
    flex-direction: row;
}
.slider-main img{
    height: 227px;
    width: 611px;
    position: relative;
    margin: 0 12px;
    padding: 0px;
}
.slide{
    display: none;
}
.slide.active{
    transition: background-color 1.2s left;
    animation-name: slide;
    animation-duration: 10s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.dot {
    cursor:pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

  }
.dot.active, .dot:hover {
    background-color: #717171;
}

.active{
    color: #2D982A;
    font-weight: bold;
    justify-items: center;
    font-size: 16px;
    border-bottom: 2px solid #2D982A;
    cursor: pointer;

}


.chungnhan{
    font: 1000 38px/50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: green;
    display: flex;
    flex-direction: column;
}

.chungnhandetail{
    display: grid;
    grid-template-columns: 0.2fr 3fr 0.5fr 3fr 0.5fr 3fr 0.2fr;
}

.sanpham{
    background-color:#2D982A;
    font: 1000 38px/50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: -5px;
    padding-bottom: -2px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.sanpham button {
    background-color: white;
    margin-top: 10px;
    margin-bottom: -10px;
    color: #2D982A;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 18px;
    transition: opacity 0.3s ease;
  }
.sanpham button:hover {
    opacity: 0.6;
  }

.danhmucproduct{
    font: 1000 38px/50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: green;
    flex-direction: column;
    display: grid;
    /* grid-template-columns: 2fr 2fr 2fr 2fr 2fr; */
    grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1300px) {
    .danhmucproduct {
      grid-template-columns: repeat(4, 1fr);
    }
  }

@media (max-width: 1080px) {
    .danhmucproduct {
      grid-template-columns: repeat(3, 1fr);
    }
  }

@media (max-width: 768px) {
    .danhmucproduct {
      grid-template-columns: repeat(2, 1fr);
    }
  }

@media (max-width: 500px) {
    .danhmucproduct {
      grid-template-columns: repeat(1, 1fr);
    }
  }

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
  }
  
  .product-item {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px 0px;
    width: calc(10%);
    margin: 5px 15px;
    flex-grow: 1;
  }

.product-item:hover {
    border: 1px solid #2D982A;
    cursor: pointer;
}

.product-item--img img {
    width: 250px;
    height: 200px;
    border-radius: 12px;
}

.product-item--info {
    font-size: 14px;
    margin: 6px 0;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item--price {
    font-weight: bold;
    color: #2D982A;
    margin: 0 0 8px 0;
}

.product-item--add {
    background-color: #2D982A;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 50%;
    height: 30px;
    font-size: 12px;
    transition: opacity 0.3s ease;
}



.feedback{
    background-color:#F8FAE1; 
    font: 1000 38px/50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: green;
    flex-direction: column;
    display: grid;
    justify-content: space-between;
}

.feedbackdetails{
    display: grid;
    grid-template-columns: 1fr 3fr 0.25fr 4.75fr 1fr;
}
