*{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
}
.main-left{
    width: 15%;
}
/* -----Cố định--------- */
.main-right {
    background: #F6F8FB; 
    width: 85%;
    height: 100vh;
    display: flex;
    padding: 0 38px;
    flex-direction: column;
}

.admin-info{
    display: flex;
    background: #F6F8FB;
    padding: 24px 0px;
    justify-content: flex-end;

}
.admin-info .material-symbols-outlined{
    cursor: pointer;
}
.admin-ava{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.material-icons-outlined{
    float: left;
    
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
.admin-name{
    width: fit-content;
    height: fit-content;
    margin: 0 10px;
    text-align: center;
}
.page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.page-title p{
    font-weight: bold;
    font-size: 35px !important;
    margin: 0;
    padding: 0;
    color: #2D982A;
}
.page-search{
    color: #f2f2f2;
    border-radius: 25px;
    border: 1px solid #2D982A;
    padding: 0px 10px;
    display: flex;  
    flex-direction: row;
}
#search{
    font-size: 13px;
    border: none;
}
.page-search .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
    color: #979797;
}
/* --------------------------- */

.page__content{
    /* margin: 10px 70px; */
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.content-button{
    display: flex;
    align-self:flex-end;
}
.page__content h3{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #024700;
}
.content-button button{
    width: fit-content;
    padding: 3px 15px;
    border-radius: 10px;
}
.content-button button:nth-child(1){
    background-color: #2e7e43;
    padding: 3px 20px !important;
    font-weight: 400;
    color: #ffffff;
    border: none;
    margin-right: 15px;
}
.content-button button:nth-child(2){
    border: 1px solid #2e7e43;
    font-weight: 500;
    color: #2e7e43;
}
.content__box{
    display: flex;
    flex-direction: column;
}
.content__box label{
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.content__box label input, .content__box label textarea, select{
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.content__box label:nth-child(1) input{
    padding: 0 !important;
}
.content__box label:nth-child(2) input{
    padding: 5px 10px;
}
.content__box label section{
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #333;     
}
.content__box label textarea{
    height: 180px;
    padding: 5px 10px;
    font-size: 16px;
    resize: none;
  }
select{
    padding: 3px;
    width: 30%;
}
