<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="container">
    <div class="section">
        <ol>
            <li>Trang chủ</li>
            <li><a>{{cosmetic.Category}}</a></li>
            <li>{{cosmetic.Name}}</li>
        </ol>
    </div>
    <div class="content">
        <div class="content__item">
            <div class="item__img">
                <div class="item__img--main">
                    <img src="{{cosmetic.Image}}">
                </div>
            </div>
            <div class="item__infor">
                <p class="item__infor--title">{{cosmetic.Name}}</p>
                <hr style="height: auto;">
                <h3 class="item__infor--price">{{cosmetic.Price}} VNĐ</h3>
                <ul>
                    <li><span class="bold">Thành phần:</span> {{cosmetic.Ingredients}}</li>
                    <li><span class="bold">Công dụng:</span> {{cosmetic.Uses}}</li>
                </ul>
                <h3 class="description"> Mô tả sản phẩm: </h3>
                <p>{{cosmetic.Description}}</p>
                <hr style="height: auto;">
                <div class="amount">
                    <p style="display: inline-block;">
                        Chọn số lượng:
                    </p>
                    <div class="item--amount">
                        <button (click)="decrease()" id="clickdecrease"><span
                                class="material-symbols-outlined">remove</span></button>
                        <input type="text" name="quantity" [(ngModel)]="quantity">
                        <button (click)="increase()" id="clickincrease"><span
                                class="material-symbols-outlined">add</span></button>
                    </div>


                </div>
                <div class="item--button">
                    <button class="buy--button" (click)="addToCartToBuy(cosmetic)">MUA NGAY</button>
                    <button class="add--cart" (click)="addToCart(cosmetic)">THÊM VÀO GIỎ HÀNG</button>
                </div>
            </div>
        </div>
    </div>

    <p style="font-weight: bold; font-size: 30px; color: #2D982A; text-align: center;">Sản phẩm liên quan</p>
    <div class="danhmucproduct">
        <div class="product" *ngFor="let same_cosmetic of cosmetics.slice(0,5)">
            <a (click)="viewCosmeticDetail(same_cosmetic)" class="product-item">
                <div class="product-item--img">
                    <img src="{{ same_cosmetic.Image }}" style="width: 180px;">
                </div>
                <p class="product-item--info">
                    {{ same_cosmetic.Name }}
                </p>
                <p class="product-item--price">
                    {{ same_cosmetic.Price }} VNĐ
                </p>
                <a><button class="product-item--add" (click)="addToCart(cosmetic)">Thêm vào giỏ hàng</button></a>
            </a>
        </div>
    </div>


    <div class="content__description">
        <h2 style="text-align: center;">{{ cosmetic.Name }}</h2>
        <div class="img-container">
            <img src="{{ cosmetic.Image }}" class="img">
        </div>

        <h3>Thành phần</h3>
        <p>{{ cosmetic.Ingredients }}</p>

        <div>
            <h3>Công dụng</h3>
            <p>{{ cosmetic.Uses }}</p>
        </div>
        <div>
            <h3>Bảo quản</h3>
            <p>{{ cosmetic.Store }}</p>
        </div>
        <h3>Lưu ý</h3>
        <div [ngClass]="{'expanded': expandDiv==true}" *ngIf="expandDiv">
            <div>

                <p>{{ cosmetic.Warnings }}</p>
            </div>
            <div class="more--button" (click)="HiddenMore()">
                Thu hẹp
                <span class="material-symbols-outlined">expand_less</span>
            </div>
        </div>

        <div *ngIf="!expandDiv" (click)="showMore()" class="more--button">
            Xem thêm
            <span class="material-symbols-outlined">expand_more</span>
        </div>
    </div>

    <div class="comment">
        <p style="color:#2D982A">Đánh giá của khách hàng</p>
        <div class="comment__box--input">
            <div class="commit__infor">
                <div class="commit--gender">
                    <label class="gender">
                        <input type="radio" checked="checked" name="radio">Anh
                    </label>
                    <label class="gender">
                        <input type="radio" checked="checked" name="radio">Chị
                    </label>
                </div>
                <div class="commit--name">
                    <label for="name">
                        <input type="text" id="name" placeholder="Họ và tên">
                        <span class="material">*</span>
                    </label>
                    <label for="phone">
                        <input type="text" id="phone" placeholder="Số điện thoại">
                    </label>
                </div>
            </div>
            <textarea name="comment" id="comment" placeholder="Nhập nội dung..."></textarea>
            <div class="sendComment">
                <button id="sendComment">Gửi bình luận</button>
            </div>
        </div>
        <div class="comment__cus">
            <div class="comment__box--cus" style="width: 95%">
                <div class="comment__cus--content">
                    <img src="assets\images\customer.jpg" alt="Avatar" class="avatar">
                    <h3>Mỹ Kim</h3>
                    <p>Cho em hỏi mình có ship về Vũng Tàu không ạ? Em muốn đặt hàng ạ
                    <p>
                </div>
                <div class="comment__cus--reply">
                    <img src="assets\images\employee.jpg" alt="Avatar" class="avatar">
                    <h3>Nhân viên Beaurity</h3>
                    <p>Chào chị, Beaurity có giao đến Vũng Tàu nhé.
                    <p>
                </div>
            </div>
        </div>
        <div class="comment__box--cus" style="width: 95%">
            <div class="comment__cus--content">
                <img src="assets\images\customer.jpg" alt="Avatar" class="avatar">
                <h3>Huỳnh Như</h3>
                <p>Loại này dùng cho da dầu có ổn không ạ</p>
            </div>
            <div class="comment__cus--reply">
                <img src="assets\images\employee.jpg" alt="Avatar" class="avatar">
                <h3>Nhân viên Beaurity</h3>
                <p>Beaurity chào chị. Loại này bên em được bác sĩ da liễu khuyên dùng cho da dầu đó ạ.
                <p>
            </div>
        </div>
        <div class="comment__button--more">
            <button><span class="material-symbols-outlined">chevron_left</span> Trước</button>
            <button>Sau <span class="material-symbols-outlined">chevron_right</span></button>
        </div>
    </div>
</div>

<!-- popup  -->
 <div class="popup" id="ngIFlogin">
  <div class="popup-container">
    <h2 class="popup-title">Đặt hàng</h2>
    <hr>
    <p class="popup-message">Bạn vui lòng <span class="main-color">đăng nhập</span> để tiếp tục đặt hàng nhé!</p>
    <div class="popup-buttons">
      <button class="popup-button" id="clickdangnhap">Đăng nhập</button>
      <button class="popup-button" id="clicktrolai">Trở lại</button>
    </div>
  </div>
</div>