*{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-navigate {
    color: #776F6F;
    font-size: 14px;
   margin: 0 0 12px 0px;;
  }
  .section-navigate a {
    color: #776F6F;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
  }
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    /* margin-top: 160px; */
}
.section-navigate ol{
    list-style: none;
    display: flex;
    color: #776F6F;
    padding: 10px 0;
    margin-top: 10px;
}
.section-navigate ol li:not(:nth-child(1))::before{
    content: "/";
    display: inline-block;
    line-height: 100%;
    margin: 0px 5px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%
}
.content__item {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 100px;
}

.item__img {
    flex: 1;
    width: fit-content;
}

.item__img--main {
    text-align: center;
}

.item__img--main img {
    height: rem; 
    border-radius: 10px; /* Add rounded corners */
    width: 80%; /* Chiếm toàn bộ chiều rộng của .item__img */
}

.item__img--extra {
    display: flex;
    justify-content: space-between;
}

.item__infor {
    flex: 1;
    margin-left: 20px;
    flex: 0 0 45%;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
    .item__infor {
        flex: 0 0 100%;
    }
    .item__img {
        flex: 0 0 100%;
    }
}

@media (max-width: 768px) {
    .content__item {
        flex-direction: column;
    }
}
.item__infor--title{
    font-style: normal;
    margin: 0px 0  0px;
font-weight: 500;
    font-size: 35px;
    /* line-height: 35px; */
    color:#2D982A
}
.item__infor--price{
margin-top: 0.5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* line-height: px; */
    color: #2D982A;
}

.description{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    text-align: justify;
    }
.item__infor ul{
    margin-left: 15px;
    margin-left: 40px;
}
.item__infor ul li{
    margin: 10px;
}
.bold{
    font-weight: bold;
}
.amount{
    width: 70%;
    display: flex;
    margin: 20px 0 20px 0px;
    align-items: center;
    justify-content: space-between;
}
.amount p{
    margin: 0;
}
.item--amount {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 40px;
}

.item--amount input {
    width: 60px;
    height: 26.5px;
    border: 1px solid #2D982A;
    text-align: center;
    font-weight: bold;
}

.item--amount button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px; /* Set the height of the buttons to match the height of the input */
    width: 30px;
    border: none;
    background-color: #2D982A;
    color: white;
    cursor: pointer;
    border-radius: 50% 0 0 50%;
}
#clickdecrease{
    border-radius: 10px 0 0 10px;
}
#clickincrease{
    border-radius: 0 10px 10px 0;
}

.item--amount button:hover {
    background-color: #1F6E1C; /* Hover effect */
}

.item--amount span {
    font-size: 20px;
}



.buy--button {
    box-sizing: border-box;
    width: 140px;
    padding: 15px 0px;
    background: #E0F8E4;
    border: 1px solid #2D982A;
    color: #2D982A;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.buy--button:hover {
    background-color: #2D982A;
    color: #E0F8E4;
}

.add--cart {
    box-sizing: border-box;
    width: 220px;
    padding: 15px 0px;
    border: 1px solid #2D982A;
    color: #ffffff;
    font-weight: bold;
    background: #2D982A;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.add--cart:hover {
    background-color: #E0F8E4;
    color: #2D982A;
}


.item--button{
    /* display: flex; */
    width: 80%;
    justify-content: space-evenly;
}
.content__description{
    box-sizing: border-box;
    height: fit-content;
    background: #E0F8E4;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 20px;
    text-align: left;
    width: 90%;
    margin: 20px 0;
    margin-left: 100px;
}
.content__description .img{
    align-items: center;
}
.content__description .img img{
    width: 60rem ;
    height: 30rem ;
    border-radius: 10px;
}
.content__description h2{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #2D982A;
    align-self: center;
}
.content__description div{
    display: flex;
    flex-direction: column;
}
.content__description div h3{
    font-weight: bold;
    font-size: 17px;
}

.more--button{
    background:#FFFFFF;
    border: 1px solid #2D982A;
    color:#2D982A;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row !important;
    cursor: pointer;
    margin-bottom: 20px;
}
.expanded {
    height: fit-content;
}

.more--button span{
    color: #2D982A;
}

.more--item {
    display: flex;
    flex-wrap: nowrap; /* Ensure products are on the same line and do not wrap */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.more_products--product {
    flex: 0 0 auto; /* Ensure each product does not grow or shrink */
    margin: 0 10px; /* Adjust spacing between products as needed */
}

.more_products--product>div {
    width: 180px;
}

.more_products--product-detail {
    width: 100%;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    margin: 0 12px;
    overflow: hidden; /* Ensure the container does not exceed its width */
}

.more_products--product-detail:hover {
    border: 1px solid #2D982A;
}

.more_products--products img {
    width: 180px;
    height: auto;
    padding: 12px;
}

.more_products--product-detail-price {
    font-weight: bold;
}

.more_products--product-detail-button {
    width: 100%;
    text-align: center;
    /* margin-top: auto; Align the button to the bottom of the container */
}

.more_products--product-detail-button input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    font-size: 14px;
}

.more_products--product-detail-button input:hover {
    background-color: #2D982A;
    color: #fff;
}

.comment{
    box-sizing: border-box;
    height: fit-content;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    text-align: center;
    /* padding: 20px 15px; */
    text-align: center;
    width: 90%;
    margin: 20px 0;
    margin-left: 100px;
}
.comment p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
}
.gender input{
    width: 16px !important;height: 16px;
    margin-right: 5px;
  }
  [type="radio"]:checked {
    background-color: #2D982A;
    border: 2px solid #2D982A;
  }
.commit--gender{
    display:flex;
    gap: 30px;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    margin-right: 50px;
}

.commit--name{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.commit--name label input{
    padding: 0 10px;
}
.commit--name label .material{
    width: 7px;
    height: 16px;
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items:flex-start;
    float: right;
    color: #FF0F0F;
}
.commit__infor{
    display: flex;
    flex-direction: row;
}

.comment{
margin-bottom: 30px;
}
.comment__box--input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    
    /* margin-bottom: 20px; */
}
.comment textarea{
   margin-top: 20px;
    width: 100%;
    height: 100px;
    text-align: left;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.sendComment{
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#sendComment{
    width: 150px;
    height: 30px;
    color: white;
    background-color: #2D982A;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.comment__cus{
    width: 100%;
}
.comment__box--cus{
    width: 100%;
    margin: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: max-content;
    width: fit-content;
    background: #FFFFFF;
    border: 1px solid #E7EAEC;
    border-radius: 4px;
}
.comment__cus--content h3{
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}
.comment__cus--content p{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.02em;
    text-align: left    ;
}
.comment__cus--reply{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: max-content;
    margin: 5px 20px;
    width: 95%;
    background: #FFFFFF;
    border: 1px solid #2D982A;
    border-radius: 4px;
}
.comment__cus--reply h3{
    font-size: 17px;
    font-weight: bold;
    color: #2D982A;
}
.comment__cus--reply p{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.02em;
    margin: 0;
}
.profile {
    display: flex;
    align-items: center; /* Để căn giữa các phần tử theo chiều dọc */
    
}
 
  .comment__box--cus img.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* margin-right: 10px; */
    border: 1px solid #e4e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 50%; /* To make the avatar circular */
    margin-right: 10px;

  }


.comment__button--more{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.comment__button--more button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
    height: 32px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #2D982A;
    border-radius: 4px;
    background: #FFFFFF;
    justify-content: center;

}
.comment__button--more button .material-symbols-outlined{
    color: #2D982A;
}

/* popup */
.popup {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.popup-container {
  background-color: #fff;
  max-width: 400px;
  text-align: center;
  border-radius: 4px;
}

.popup-title {
  font-size: 20px;
  padding: 20px;
  padding-bottom: 0;
  font-weight: bold;
  margin-top: 0;
  color: #2D982A;
  text-align: start;
  margin-bottom: 10px;
}
.main-color{
  color: #2D982A;
  font-weight: 500;
}
.popup-message {
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  padding: 0 20px 20px 20px;
}

.popup-button {
  margin-right: 18px;
  padding: 3px 20px;
  cursor: pointer;
}
.popup-button:nth-child(1){
  background-color: #2D982A !important;
  color: #ffffff;
  border: none;
}

.danhmucproduct {
    font: 1000 38px/50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: green;
    flex-direction: column;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
    /* Negative margin to counteract padding */
}

.product button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.product-item {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px 0px;
    width: calc(10%);
    margin: 5px 15px;
    flex-grow: 1;
}

.product-item:hover {
    border: 1px solid #2D982A;

    cursor: pointer;
}

.product-item--img img {
    width: 250px;
    height: 200px;
    border-radius: 12px;
}

.product-item--info {
    font-size: 14px;
    margin: 6px 0;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item--price {
    font-weight: bold; color: #2D982A;
    margin: 0 0 8px 0;
}

.product-item--add {
    background-color: #2D982A;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 50%;
    height: 30px;
    font-size: 12px;
    transition: opacity 0.3s ease;}

    @media (max-width: 1300px) {
        .danhmucproduct {
          grid-template-columns: repeat(4, 1fr);
        }
      }
      
      @media (max-width: 1080px) {
        .danhmucproduct {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      
      @media (max-width: 768px) {
        .danhmucproduct {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      
      @media (max-width: 500px) {
        .danhmucproduct {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .product button:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    

      
    