.popup {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  hr{
    margin: 0;
    padding: 0;
    height: 2px;
  }
  
  .popup-container {
    background-color: #fff;
    max-width: 400px;
    text-align: center;
    border-radius: 4px;
  }
  
  .popup-title {
    font-size: 20px;
    padding: 20px;
    padding-bottom: 0;
    font-weight: bold;
    margin-top: 0;
    color: #EA4335;
    text-align: start;
  }
  
  .popup-message {
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: center;
    padding: 0 20px 20px 20px;
  }
  
  .popup-button {
    margin-right: 18px;
    padding: 3px 20px;
    cursor: pointer;
  }
  .popup-button:nth-child(1){
    background-color: #EA4335 !important;
    color: #ffffff;
    border: none;
  }