<div class="content">
  <p style="color:#2D982A ; margin-top:20px; margin-right: 400px"><b>Trở về</b></p>
  <h2 class="header">XÁC NHẬN ĐĂNG KÝ</h2>

  <div class="bold">
    <p>Mã xác minh OTP đã gửi đến số điện thoại của bạn.</p>
    <p>Vui lòng kiểm tra điện thoại nhé.</p>
  </div>

  <div class="container">
    <div class="container__input">
      <div>
        <div class="container__input--item">
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
          &nbsp; &nbsp;
          <div class="input--content">
            <input type="text" name="phonenumber" />
          </div>
        </div>
        <!--<div class="error-message">Số điện thoại không hợp lệ!</div>-->
      </div>
    </div>

    <p><b>Chưa nhận được mã?</b></p>
    <div class="content--bottom">
      <a>Gửi lại mã</a>
    </div>

    <div>
      <button type="submit" class="login_button">HOÀN TẤT</button>
    </div>
  </div>
</div>