<header id="header">
  <div style="background-color: white ;width: 100%;">
    <div class="row">
      <div class="menubar" style="background-color: green;">
        <nav class="header__menu mobile-menu header_nav">
          <ul>
            <li><a href="/index.html"><img src="assets/images/Logobg.png" id="logo"></a></li>
            <span id="text-menubar">
              <li id="home"><a href="../index.html">Trang chủ</a></li>
              <li id="product" class="dropdown"><a routerLink="/app-category">Sản phẩm</a>
                <!-- <div class="dropdown-center"> -->
                  <ul>
                    <li id="tatca" (click)="selectCategory('')">Tất cả</li>
                    <li *ngFor="let category of categories">
                      <a (click)="selectCategory(category.Category)">{{ category.Category }}</a>
                    </li>
                  </ul>
                <!-- </div> -->
              </li>
              <li id="collection"><a routerLink="/app-category/id">Hot Combo</a></li>
              <li id="beauritystory"><a href="app-infor">Câu chuyện thương hiệu</a></li>
              <li>
                <form class="search" (ngSubmit)="search()">
                  <span><img src="assets/images/search_header.png" alt="" id="icon-img3"></span>
                  <input type="text" placeholder="  Search..." [(ngModel)]="keyword" name="keyword" required>
                  <button type="submit">Tìm kiếm</button>

                </form>
              </li>
              <li><a [routerLink]="['/app-cart']"><img src="assets/images/cart.png" alt="" id="icon-img1"></a></li>
              <li *ngIf="!isLoggedIn"><a [routerLink]="['/app-login']"><img src="assets/images/user.png" alt=""
                    id="icon-img2"></a></li>
              <li *ngIf="isLoggedIn">
                <a [routerLink]="['/app-profile']"><img src="assets/images/user.png" alt="" id="icon-img2"></a>
              </li>

            </span>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>