* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000
  }

h4{
    font-weight: bold;
    color: #2D982A;
    padding-left: 10px;
    font-size: 20px;
}

.list-item {
    font-size: 16px;
    padding: 5px;
    color: #2D982A;
}

.list {
    padding-left: 20px;
}

.list p:hover{
    background-color: #edf9e6;
    border-radius: 7px; 
}
.list-item.selected {
    background-color: #edf9e6;
    border-radius: 7px;
    font-weight: bold;
  }

  .list-item.active {
    color: #2D982A;
  }
.container{
    max-width: 95%;
    margin: 175px auto 100px;
    margin-top: 25px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.box-left{ 
    width: 25%; 
    margin-top: -22px;
}

.navbar{
    padding: 15px 15px;
    max-height: 700px;
    background-color: #C2F4C0;
    margin-top: 20px;
    border-radius: 10px;
    width: 270px;
}

.content-posts{
    flex: 70%;
    margin: 10px 25px 0px;
    border-radius: 10px;
    padding: 10px;
    height: 2000px;
}

.sub-header{
    font-size: 20px;
    font-weight: bold;
    color: #2D982A;

        display: flex;
        justify-content: center;
        text-align: center;

}

.sub-header-2{
    font-size: 18px;
    font-weight: bold;
    color: #2D982A
}

.content--item{
    font-size: 15px;
    text-align: justify;
}
ol{
    font-size: 15px;
    font-weight: bold;
    color: #2D982A
}
ul{
    font-size: 15px;
    font-weight: bold;
    color: #2D982A
}
li{
    font-size: 15px;
    font-weight:lighter;
    text-align: justify;
}
    
table{
    border-collapse: collapse;
    border: 2px solid;
    border-radius: 10px ;
}

a{
    text-decoration: none;
    color: black;
}

/*Beaurity*/

.box_right{
    display: flex;
    width: 75%;
    padding-left: -105px;
    margin-top: -27px;
}

.active{
    color: #000000;
    font-weight: bold;
    width: 100%;
    border: none;
    cursor: pointer; 
    font-size: 16px;
    background-color: #CEEFCD !important;
    margin: 20px 0;
    cursor: pointer;
}

.right_content{
    margin: 20px 20px -70px;
    
}

.tiltle-sub-content{
    padding-top: 1px;
}

.li{
    font-size: 18px;
    padding-bottom: 10px;
}
    
.section ol{
    list-style: none;
    display: flex;
    color: #776F6F;
    padding: 10px;
    margin-top: 10px;
}

.section ol li:nth-child(2)::before{
    content: "/";
    display: inline-block;
    line-height: 100%;
    margin: 0px 5px;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    
}

thead td{
    font-weight: bold;
    text-align: center;
}

.custom-table {
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}
.custom-table th,
.custom-table td {
    border: none;
    padding: 4px;
}
.custom-table thead td {
    font-weight: bold;
    text-align: center;
}
.custom-table {
    border: 2px solid #2D982A;
    border-radius: 10px;
    background-color: #e8fae7 ;
}