<html>

<head></head>

<body>
  <div class="imgbg"><img src="assets/images/BG.png"></div>
  <div class="content">
    <div class="imggt"><a href="app-home"><img src="assets/images/GT.png"></a></div>
    <form action="app-login" method="get" class="login_form">
      <h2>QUÊN MẬT KHẨU</h2>
      <p class="bold"><label for="phoneNumber" style="cursor: pointer">Nhập số điện thoại để đặt lại mật khẩu</label>
      </p>
      <div class="container">
        <div class="container__input">
          <div>
            <div class="container__input-tel--item">
              <div class="input--content--tel">
                <input required type="tel" placeholder="Số điện thoại" [(ngModel)]="phoneNumber" name="phoneNumber"
                  id="phoneNumber" (blur)="checkPhoneNumber()" />
                <span class="material">*</span>
              </div>
              &nbsp; &nbsp;
              <span><button id="otp-send" (click)="sendCode()" class="confirm_button">GỬI MÃ XÁC NHẬN</button></span>
            </div>
            <div *ngIf="!isPhoneNumberValid" class="error-message-a">Số điện thoại không hợp lệ!</div>
          </div>

          <div class="bold2"><label for="verificationCode" style="cursor: pointer">Nhập mã xác nhận</label></div>

          <div class="container__input-code--item">
            <div class="input--content--code">
              <input type="text" [(ngModel)]="verificationCode" name="verificationCode" id="verificationCode"
                placeholder="Mã xác nhận" (blur)="checkVerificationCode()" />
              <span class="material">*</span>
            </div>
          </div>
          <div *ngIf="!isVerificationCodeValid" class="error-message-b">Mã xác nhận không hợp lệ!</div>
          <div>
            <button type="submit" (click)="onComplete($event)" class="reset_button">HOÀN TẤT</button>
          </div>


          <div class="reset-OTP">
            <span>Chưa nhận được mã?</span>
            <a id="otp-button" (click)="resend()">Gửi lại mã</a>
          </div>
        </div>
      </div>
      <div class="content--bottom">
        <a href="app-login">Trở về</a>
      </div>
    </form>
  </div>
</body>

</html>