* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.imgbg img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.imggt img {
    display: block;
    margin: 0 auto;
    z-index: 1;
    height: 440px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    background-color: #e8fae7;
    display: block;
}

.login_form {
    width: 500px;
    height: 440px;
    background-color: #D7F6D5;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bolder;
    color: #2D982A;
    margin-left: -36px;
    margin-top: 1px;
    margin-bottom: 100px;
    text-align: center;
}

.bold2 {
    font-weight: bolder;
    color: #2D982A;
    margin-left: -23px;
    margin-bottom: 130px;
    margin-top: -90px
}

.error-message-a {
    color: #FF0F0F;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    margin-bottom: 80px;
    margin-top: -80px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.error-message-b {
    color: #FF0F0F;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    margin-top: -87px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


h2 {
    width: 300px;
    height: 130px;
    margin-top: 230px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #2D982A;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container__input {
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 0px;
    gap: 25px;
    margin-bottom: 20px;
}

.input--content--tel {
    display: flex;
    align-items: center;
    width: 150px;
    height: 35px;
    background-color: #fff;
    margin-top: -170px;
    margin-left: 5px;
    border-radius: 5px;
}


.input--content--tel input {
    width: 100%;
    border: none;
    outline: none;
}

.container__input-tel--item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.container__input-tel--item .material {
    width: 7px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: flex-start;
    float: right;
    color: #FF0F0F;
    margin-right: 15px;
}

.container__input--item input[type="tel"] {
    background-color: transparent;
}

.confirm_button {
    width: 150px;
    height: 35px;
    font-weight: 650;
    font-size: 13px;
    background: #2D982A;
    border: 0PX;
    border-radius: 10px;
    color: white !important;
    margin-top: -102px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.input--content--code {
    display: flex;
    align-items: center;
    width: 300px;
    height: 35px;
    background-color: #fff;
    margin-top: -180px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


.input--content--code input {
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
}

.container__input-code--item {
    display: flex;
    align-items: center;
    margin-top: -30px;
    justify-content: center;
}

.container__input-code--item .material {
    width: 7px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: flex-start;
    float: right;
    color: #FF0F0F;
    margin-right: 15px;
}


.reset_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 38px;
    font-weight: 650;
    font-size: 13px;
    background: #2D982A;
    border: 0PX;
    border-radius: 10px;
    color: white !important;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
}

.reset-OTP {
    font-size: 14px;
    align-content: center;
    display: flex;
    margin-top: -50px;
    justify-content: center;
}

.reset-OTP span {
    margin-right: 8px;
    align-items: center;
}

#otp-button {
    position: relative;
    right: 0;
    color: #2D982A;
    width: fit-content;
    font-size: 15px;
    font-weight: bold;
    height: 27px;
    cursor: pointer;
    float: right;
}


.content--bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content--bottom a {
    color: #2D982A;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 235px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}