<div align="center" style="text-align: center; background-color: #2D982A; 
color: white; font-size: 12px; display: flex; flex-direction: column; 
justify-content: center; line-height:9px; padding:2px; padding-top: -10px;
    padding-bottom: 10px;">
  <br/>
  <b>CHÀO MỪNG BẠN ĐẾN VỚI BEAURITY</b>
</div>
<app-navigate-bar></app-navigate-bar>
<hr style="border: none; border-top: 25px solid #2D982A; margin: 0;">

    <div>
      <form (ngSubmit)="onSubmit()" class="login_form">
      <h2>ĐĂNG NHẬP</h2>
      <p class="bold">Chào mừng bạn đến với Beaurity</p>
      <div class="container">
        <div class="container__input">
          <div>
            <div class="container__input--item">
              <div class="input--content">
                <input type="text" placeholder="Tên đăng nhập" name="phonenumber" [(ngModel)]="phonenumber" required (blur)="checkPhoneNumber()" id="phone" value="{{ phonenumber }}"/>
                <span class="material">*</span>
              </div>
            </div>
            <div *ngIf="!isPhoneNumberValid" class="error-message">Số điện thoại không hợp lệ!</div>
          </div>
          <div class="container__input--item">
            <div class="input--content">
              <input type="password" placeholder="Mật khẩu" name="psw" [(ngModel)]="password" required id="password" value="{{ password }}" />
              <span class="material">*</span>
            </div>
          </div>
        </div>

        <div class="container__checkbox">
            <input type="checkbox" name="remember" class="checkbox" [(ngModel)]="rememberMe" id="rememberMe" />
            <label for="rememberMe"> Ghi nhớ mật khẩu</label>
          <a href = "app-forgot-password">Quên mật khẩu?</a>
        </div>

        <div>
          <button type="submit" class="login_button" >ĐĂNG NHẬP</button>
        </div>
      </div>
      <div class="content--bottom">
        <p>Bạn chưa có tài khoản?</p>
        <a href = "app-signup">Đăng ký ngay</a>
      </div>
    </form>
    </div>

