* {
  background-color: #2D982A;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: -10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  line-height: 0.8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: transparent;
  padding: auto;
}

.banner-container img {
  height: 350px;
}

.banner {
  display: block;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}


.banner.inactive {
  opacity: 10;
}

app-navigate-bar {
  position: sticky;
  top: 0;
  z-index: 999;
}